<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PRODUCTION_MODE</key>
	<string>1fd0e4528721e22d413e05f8</string>
	<key>API_KEY</key>
	<string>w0eY93GmvqsdIip4rbVrBx3V</string>
	<key>DEBUG</key>
	<string>NO</string>
</dict>
</plist>
