<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>areaName</key>
            <string>全城</string>
            <key>id</key>
            <string>210101</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>和平区</string>
            <key>id</key>
            <string>210102</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>沈河区</string>
            <key>id</key>
            <string>210103</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>大东区</string>
            <key>id</key>
            <string>210104</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>皇姑区</string>
            <key>id</key>
            <string>210105</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>铁西区</string>
            <key>id</key>
            <string>210106</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>苏家屯区</string>
            <key>id</key>
            <string>210111</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>东陵区</string>
            <key>id</key>
            <string>210112</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>沈北新区</string>
            <key>id</key>
            <string>210113</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>于洪区</string>
            <key>id</key>
            <string>210114</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>辽中县</string>
            <key>id</key>
            <string>210122</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>康平县</string>
            <key>id</key>
            <string>210123</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>法库县</string>
            <key>id</key>
            <string>210124</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>新民市</string>
            <key>id</key>
            <string>210181</string>
        </dict>
        <dict>
            <key>areaName</key>
            <string>近郊</string>
            <key>id</key>
            <string>210182</string>
        </dict>

				</array></plist>
